@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 17%;
    --card: 210 20% 98%;
    --card-foreground: 215 25% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 17%;
    --primary: 215 50% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 14% 95%;
    --secondary-foreground: 215 25% 17%;
    --muted: 210 14% 95%;
    --muted-foreground: 215 10% 46%;
    --accent: 199 80% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 14% 89%;
    --input: 214 14% 89%;
    --ring: 215 50% 23%;
    --chart-1: 199 80% 46%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 215 50% 23%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 14% 95%;
    --sidebar-accent-foreground: 215 25% 17%;
    --sidebar-border: 214 14% 89%;
    --sidebar-ring: 215 50% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
